/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.title {
  padding: 25px 30px;
  background: rgba(15, 16, 18, 0.95);
  opacity: 0.95;
  color: #ffffff;
  text-align: center;
}

.title h3 {
  line-height: 25.78px;
}

.button {
  display: inline-block;
  padding: 11px 38px;
  background: rgba(233, 121, 222, 0.91);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Roboto';
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky + .main {
  padding-top: 90px;
}

.scroll-hidden {
  overflow: hidden;
}

.header {
  height: 90px;
  padding: 12px 32px;
  background: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo a {
  display: block;
}

.header .logo a img {
  max-width: 122px;
}

.header .header__button {
  background: rgba(233, 121, 222, 0.91);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header__navigation .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation .navigation .navigation__link {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 0;
  -webkit-animation: 1.5s ease-in-out;
          animation: 1.5s ease-in-out;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__navigation .navigation .navigation__link:hover {
  color: rgba(233, 121, 222, 0.91);
}

.header__navigation .navigation .navigation-active {
  color: rgba(233, 121, 222, 0.91);
}

.button__wrap {
  text-align: right;
}

.header__hamburger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.4s ease-in;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.hamburger__line {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header__hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__hamburger:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .hamburger__line {
  opacity: 0;
}

.hamburger.toggle::after {
  -webkit-transform: rotate(-45deg) translate(2px, -10px);
          transform: rotate(-45deg) translate(2px, -10px);
}

.hamburger.toggle::before {
  -webkit-transform: rotate(45deg) translate(3px, 11px);
          transform: rotate(45deg) translate(3px, 11px);
}

span.rotate {
  margin-right: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about h1 {
  position: absolute;
  top: 11%;
  left: 26px;
  font-size: 4.3vw;
}

.about h1 span {
  color: #ffffff;
}

.about .about__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.about .about-wrap {
  position: relative;
  padding: 0 0 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-wrap .about__descr {
  padding-right: 14px;
}

.about .about-wrap .about__descr .about__text {
  font-size: calc(2.7px + 1vw);
  line-height: 21px;
  font-weight: 400;
}

.about .about-wrap .about__descr .about__text span {
  font-weight: bold;
}

.about .about-wrap .about__text:first-child {
  margin-top: 15%;
}

.about__button {
  margin-top: 70px;
  padding: 16px 65px;
  border: 1px solid rgba(233, 121, 222, 0.91);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09), 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09), 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.075em;
}

.vebinars {
  padding-bottom: 158px;
}

.vebinars .vebinars__subtitle {
  padding: 20px 0;
  text-align: center;
  line-height: 20px;
}

.vebinars .sets__wrap {
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 19px;
  text-align: center;
}

.vebinars .sets__wrap .set .set__title {
  margin-bottom: 30px;
  line-height: 25.78px;
}

.vebinars .sets__wrap .set .set__title span {
  display: block;
}

.vebinars .sets__wrap .set img {
  margin-bottom: 99px;
}

.speakers {
  padding-bottom: 5px;
}

.speakers .swiper-container {
  position: relative;
  padding: 100px 36px 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.speakers .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speakers .swiper-container .swiper-slide .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 430px;
}

.speakers .swiper-container .swiper-slide .img img {
  width: auto;
  display: inline-block;
}

.speakers .swiper-container .swiper-slide .slide__text {
  margin-top: 56px;
  height: 300px;
  overflow-y: hidden;
}

.speakers .swiper-container .swiper-slide .swiper-button-next {
  right: 0;
}

.speakers .swiper-container .swiper-slide .swiper-button-prev {
  left: 0;
}

.speakers .swiper-container .swiper-button-prev,
.speakers .swiper-container .swiper-button-next {
  color: #000000;
}

.speakers .swiper-container .swiper-button-next {
  right: 0;
}

.speakers .swiper-container .swiper-button-prev {
  left: 0;
}

.speakers .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.partners .partners__wrap {
  width: 100%;
  max-width: 1440px;
  margin: 146px auto 185px;
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (445px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 445px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 113px;
}

.partners .partners__wrap .partners__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 30px;
  height: 250px;
  width: 100%;
  max-width: 447px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.partners .partners__wrap .partners__item-wrap .partners__item {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  -webkit-animation: 1.5s ease-in-out;
          animation: 1.5s ease-in-out;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.partners .partners__wrap .partners__item-wrap .partners__item:hover {
  filter: none;
  -webkit-filter: none;
}

.contacts .networks, .contacts .massagers {
  padding-top: 31px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.1);
  border-top: 0.5px solid #C4C4C4;
  border-bottom: 0.5px solid #C4C4C4;
}

.contacts .networks__wrap {
  padding: 39px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 73px;
}

.contacts .networks__wrap img {
  width: 50px;
}

.contacts .massagers__wrap {
  padding: 39px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 73px;
}

.contacts .massagers__wrap img {
  width: 50px;
}

.contacts .contacts__wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 122px 30px 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts__wrap .contacts__button {
  margin: 0;
}

.contacts .contacts__wrap .contacts__email a {
  text-decoration: none;
  color: #000000;
}

.contacts .contacts__wrap .contacts__email a:hover {
  color: rgba(233, 121, 222, 0.91);
  -webkit-animation: 1.5s ease-in-out;
          animation: 1.5s ease-in-out;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.reviews {
  text-align: center;
}

.reviews .reviews__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px 30px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.reviews .review {
  margin-top: 50px;
}

.footer {
  padding: 47px 30px 55px;
  background: rgba(15, 16, 18, 0.87);
}

.footer .footer-wrap {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  -ms-grid-columns: 1fr 2fr 28%;
      grid-template-columns: 1fr 2fr 28%;
}

.footer .footer-wrap .footer__text {
  color: #ffffff;
  line-height: 43px;
  letter-spacing: -0.04em;
}

.footer .footer-wrap .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-wrap .footer__links .footer__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 43px;
  letter-spacing: -0.04em;
}

.footer .footer-wrap .footer__links .footer__link:hover {
  color: rgba(233, 121, 222, 0.91);
  -webkit-animation: 1.5s ease-in-out;
          animation: 1.5s ease-in-out;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer .footer-wrap .about__button {
  margin: 0;
}

.footer__socials {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 50px);
  grid-column-gap: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials .social {
  width: 50px;
  margin-top: 15px;
  cursor: pointer;
}

.overlay {
  display: none;
}

.overlay-visible {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 125px;
  width: 360px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.overlay .popup-close {
  position: absolute;
  right: -18px;
  top: -26px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  margin: 0;
  color: black;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  line-height: 120%;
}

.overlay .popup-form {
  background-color: #ffffff;
  padding: 4px 60px 30px 60px;
}

.overlay .popup-form_note {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.overlay .popup-form_note a {
  color: #7c7c7c;
}

.overlay .popup-form_note a:hover {
  color: #00d1f9;
}

.overlay .form__input {
  padding: 16px 0 16px 17px;
  width: 100%;
  margin-right: 35px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.overlay .button {
  width: 100%;
}

.iti__flag {
  background-image: url("path/to/flags.png");
}

.iti {
  margin-bottom: 30px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("path/to/flags@2x.png");
  }
}

@media screen and (min-width: 1441px) {
  .about h1 {
    font-size: 62px;
  }
}

@media screen and (min-width: 1169px) {
  .about h1 {
    top: 105px;
  }
}

@media screen and (max-width: 1168px) {
  .header .header__hamburger {
    display: block;
  }
  .header .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 5;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .header .header__navigation .navigation {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #2D303A;
    width: 72vw;
    height: 100vh;
    -webkit-box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    color: #ffffff;
  }
  .header .header__navigation .navigation .navigation__item {
    margin: 0 0 30px 30px;
  }
  .header .header__navigation .navigation .navigation__item .navigation__link {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035rem;
    margin-bottom: 20px;
  }
  .header .navigation-active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .header .logo {
    text-align: center;
    margin-top: 10px;
  }
  .about h1 {
    top: 65px;
    letter-spacing: -0.004em;
  }
  .about__button {
    margin-top: 55px;
  }
  .footer .footer-wrap {
    -ms-grid-columns: 1fr 1fr 39%;
        grid-template-columns: 1fr 1fr 39%;
  }
}

@media screen and (max-width: 980px) {
  .about h1 {
    top: 40px;
    letter-spacing: -0.004em;
  }
  .about__button {
    margin: 5% 0 2.5%;
  }
}

@media screen and (max-width: 880px) {
  .about .about-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-right: 30px;
    padding: 30px;
  }
  .about .about-wrap h1 {
    position: static;
    font-size: 42px;
  }
  .about .about-wrap h1 span {
    color: #000000;
  }
  .about .about-wrap .about__descr {
    padding: 0;
  }
  .about .about-wrap .about__descr .about__text {
    font-size: initial;
  }
  .about .about-wrap .about__descr .about__text:first-child {
    margin-top: 10px;
  }
  .about .about-wrap .about__image {
    display: none;
  }
  .reviews .reviews__wrap .review {
    margin-top: 30px;
  }
  .reviews .reviews__wrap .review .review__image {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about h1 {
    top: 95px;
    letter-spacing: -0.025em;
  }
  .vebinars {
    padding-bottom: 60px;
  }
  .vebinars .vebinars__subtitle {
    padding: 10px 0 0;
  }
  .vebinars .sets__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .vebinars .sets__wrap .set {
    margin-top: 30px;
  }
  .vebinars .sets__wrap .set .set__title {
    margin-bottom: 10px;
  }
  .vebinars .sets__wrap .set .set__image {
    display: block;
    max-width: 70%;
    margin: 0 auto;
  }
  .vebinars .sets__wrap .set .button {
    margin-top: 15px;
  }
  .speakers .swiper-container {
    padding-top: 30px;
  }
  .speakers .swiper-container .swiper-slide {
    padding: 0 15px;
  }
  .speakers .swiper-container .swiper-slide .img {
    height: 250px;
  }
  .speakers .swiper-container .swiper-slide .slide__text {
    margin-top: 30px;
  }
  .speakers .swiper-container .swiper-button-next {
    right: 25px;
  }
  .speakers .swiper-container .swiper-button-prev {
    left: 25px;
  }
  .partners .partners__wrap {
    margin: 30px auto;
    grid-row-gap: 30px;
  }
  .partners .partners__wrap .partners__item-wrap {
    max-width: 320px;
  }
  .partners .partners__wrap .partners__item-wrap .partners__item {
    filter: none;
    -webkit-filter: none;
  }
  .footer .footer-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer .footer-wrap .about__button {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .about .about-wrap h1 {
    text-align: center;
    font-size: 26px;
    line-height: 32px;
  }
  .button__wrap {
    display: none;
  }
  .title {
    font-size: 14px;
  }
  .vebinars .sets__wrap .set .set__image {
    max-width: 90%;
  }
  .speakers .swiper-container .swiper-button-next {
    right: 10px;
  }
  .speakers .swiper-container .swiper-button-prev {
    left: 10px;
  }
  .partners .partners__wrap {
    -ms-grid-columns: (300px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 300px);
  }
  .contacts .networks, .contacts .massagers {
    margin-top: 30px;
  }
  .contacts .networks__wrap {
    grid-column-gap: 30px;
  }
  .contacts .contacts__wrap {
    padding: 60px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts .contacts__wrap .contacts__email {
    margin-top: 30px;
  }
  .contacts .contacts__wrap .about__button {
    padding: 16px 35px;
  }
  .reviews .reviews__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews .reviews__wrap .review {
    margin-top: 30px;
  }
  .reviews .reviews__wrap .review .review__image {
    max-width: 70%;
  }
  .footer .footer-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer .footer-wrap .footer__text {
    text-align: center;
  }
  .footer .footer-wrap .footer__links {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .vebinars .sets__wrap .set .set__image {
    max-width: 100%;
  }
  .partners .partners__wrap {
    -ms-grid-columns: (250px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 250px);
  }
  .contacts .networks__wrap {
    grid-column-gap: 25px;
  }
  .contacts .massagers__wrap {
    grid-column-gap: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 500;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
/*# sourceMappingURL=style.css.map */