@import './reset';
@import './main';
@import './overlay';
@import './set';
@import './media';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	position: relative;
	height: 100%;
	font-family: 'Roboto';
	font-weight: 500;
	scroll-behavior: smooth;
	margin: 0 auto;
    // text-rendering: optimizeSpeed;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}